@mixin inputs {
  padding: 9px;
  border: solid 1px #C9C9C9;
  outline: 0;
  background: #FFFFFF;
  display: block;
  width: 100%;
  font-family: ptsans_regular, Verdana, Georgia, serif;
  font-size: 1.1em;

  &:hover
  {
    border-color: #ffd486;
  }

  &:focus
  {
    border-color: darkorange 1px solid;
  }

  &.approved
  {
    border-color: #50B484;
    color: darkgray;
    cursor: default;

    &:hover
    {
      background: #fbfbfb;
    }
  }

  &.rejected
  {
    border-left: 1px solid firebrick;
    -webkit-box-shadow: 0px -2px 10px -5px #aaa;
    box-shadow: 0px -2px 10px -5px #aaa;

    &:hover, &:active
    {
      border-left: 1px solid firebrick;
    }
  }
}

form
{
  select
  {
    @include inputs;

    &.inactive
    {
      color: darkgrey;
    }
  }

  textarea
  {
    resize: vertical;
  }

  input, textarea
  {
    @extend select;
  }

  div.form_row
  {
    padding: 16px 0;
    margin: 0 2%;
    width: 96%;

    p
    {
      margin: 0;
      padding: 0;
      font-size: .9em;
      background: transparent;
      cursor: default;
      font-family: ptsans_regular;


      @include safe-transition(.1s, ease-out, background);

      &.sublink
      {
        text-align: right;
        color: sandybrown;
        margin-top: -12px;
        cursor: pointer;

        &:hover
        {
          opacity: .9;
          @include safe-background(255, 255, 255, .2);
        }
      }

      &.error
      {
        color: firebrick;
        padding: 0 0 8px 8px;
        border-left: 1px solid firebrick;
        margin-right: 1px;
        font-family: ptsans_italic;

        @include safe-background(255, 255, 255, .85);

        &:first-of-type
        {
          padding: 8px 0 8px 8px;
        }

        &:before {
          content:  ">  ";
        }
      }
    }

    div.input_container
    {
      overflow: hidden;
      height: 43px;

      div#form_if_username
      {
        @include inputs;

        padding: 6px 0;
        position: relative;
        margin: 0 0 0 0;

        @include safe-transition(.28s, cubic-bezier(.23,.96,.53,.94), margin);

        &.approved
        {
          border-color: #50B484;
          color: darkgray;

          &:hover
          {
            background: #fbfbfb;
          }
        }

        &.hidden
        {
          margin: -43px 0 0 0;
        }

        /* position the other two guys */
        input[type="checkbox"]
        {
          position: absolute;
          width: 6.7%;
          margin-top: 7px;
          background: transparent;
          border: 0;
          border: none;
        }

        label
        {
          background: white;
          padding: 1px;
          margin: 0;
          height: 100%;
          width: 100%;
          font-size: 1em;
          padding-left: 6.7%;
          color: darkgray;


          @include safe-user-select();

          &.approved
          {
            cursor: default;
            color: darkgray;

            &:hover
            {
              background: #fbfbfb;
            }
          }
        }

      }
    }
  }

  label
  {
    margin-left: 10px;
    font-size: 110%;
  }
}

/*  This is for the submit button inside of the paragraph

padding: 9px;
border: solid 1px #C9C9C9;
outline: 0;
background: #FFFFFF;
display: block;
width: 100%;
    font-family: Verdana, Georgia, serif;

            font-size: 1em;
            font-weight: 100;
*/
p.button_container
{

  margin-bottom: 0;
  margin-bottom: 24px;

  input, span
  {

    width: 100%;
    font-family: ptsans_regular, Verdana, Georgia, serif;
    font-size: 1.1em;
    background: #617798;
    border: 0;
    color: #EEEEEE;

    &.btn
    {
      line-height: 2.5;
      margin: 1% 2% -2% 2%;
      width: 96%;

      @include safe-transition(0.1s);
    }

    &.hidden
    {
      @include safe-transition(0s);
    }

    &:hover
    {
      background: #6f85ac;
    }

    &:active
    {
      background: #4A6894;
      margin: 1.5% 1.75% -2.5% 2.25%;
    }

    &.approved
    {
      @include approval(1.2s, ease-out, background);

      &:hover
      {
        opacity: .9;
      }

      &:active
      {
        @include safe-transition(.1s, ease-out, background);
        background-color: seagreen;
      }

      &.btn--inactive, &.btn--inactive:hover,
      &.btn--inactive:active, &.btn--inactive:focus
      {
        background: #9ac29a;
        color: #EEEEEE;
      }

      &.restart
      {
        @include approval(1.2s, ease-out, background, #f8ca80);

        &:active
        {
          background-color: sandybrown;
        }

        &.btn--inactive, &.btn--inactive:hover,
        &.btn--inactive:active, &.btn--inactive:focus
        {
          background: #f8cf8c;
          color: #EEEEEE;
        }
      }
    }

    &.btn--inactive, &.btn--inactive:hover,
    &.btn--inactive:active, &.btn--inactive:focus
    {
      opacity: 0.7;
      margin: 1.5% 1.75% -2.5% 2.25%;
      cursor: default;
      color: #EEEEEE;
      background-color: #617798;
    }
  }
}

div.checks
{
  margin-top: 10px;

  &:after
  {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

  label, input
  {
    width: 5%;
  }

  label
  {
    margin: -20px 0 15px 35px;
    width: 100%;
  }

  input
  {
    clear: both;
  }
}