@media only screen and (min-height: 1600px) {
/* over 2000px resolution desktop */
  div#bg
  {
    background: #fff url(../../img/uwo_2400.jpg) 0px center scroll repeat-x;
  }
}

@media only screen and (min-height: 1024px) and (max-height: 1599px) {
/* over 2000px resolution desktop */
  div#bg
  {
    background: #fff url(../../img/uwo_1600.jpg) 0px center scroll repeat-x;
  }
}

@media only screen and (min-height: 800px) and (max-height: 1023px) {
/* over 2000px resolution desktop */
  div#bg
  {
    background: #fff url(../../img/uwo_1024.jpg) 0px 40% scroll repeat-x;
  }
}

@media only screen and (min-height: 500px) and (max-height: 799px) {
/* tablets and desktop */
  div#bg
  {
    background: #fff url(../../img/uwo_800dw.jpg) 0px 40% scroll repeat-x;
  }
}

@media only screen and (max-height: 499px) {
/* tablets and desktop */
  div#bg
  {
    background: #fff url(../../img/uwo_500dw.jpg) 0px 40% scroll repeat-x;
  }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
/* portrait phones */

/* from quiz.scss */

  section
  {
    section
    {
      &.section__bun
      {
        @include quiz-column(80%);

        &:first-of-type
        {
          margin-top: 80px;
        }

        &:last-of-type
        {

          &.has_results
          {

            &.reveal{
            margin-top: 80px;
            }

            p.note
            {
              padding: 5px;
              font-size: .75em;
              margin-bottom: 0px;
            }
          }

        }

      }

      h2
      {
        &.section_title
        {
          font-size: 1.5em;
          text-align: center;
          padding-left: 0px;

          &#quiz_title
          {
            @include quiz-column(80%);
          }
        }
      }
    }
  }

  .btn__navigate
  {
    font-size: 1.2em;
    padding-left: 2.75%;
    padding-right: 2.75%;
    top: -1px;

    &::before
    {
      margin-right: -0.25em; /* Adjusts for spacing */
    }
  }

  div.prompt
  {
    width: 80%;
    margin: 0 10%;
    padding: 10px;

    span {
      font-size: 0.8em;

      &.question
      {
        padding: 5px 0 7px 0;
      }

      &.subhead
      {
        padding: 0;
        margin: 0 0 0 8px;
        font-size: .7em;
      }

      &.answer
      {
        margin: 0 0 0 10px;
        padding: 5px 3px;

        &.onward
        {
          font-size: .9em;
        }
      }
    } /* end of span */
  }

  div#results
  {

    & .grid__item
    {

      div.result
      {

        padding: 9px;

        a
        {
          h3
          {
            font-size: 1.2em;
          }

          h4
          {
            &[class^="category"]
            {
              font-size: .95em;
            }
          }
        }

        .summary
        {
          font-size: .75em;
          padding: 6px 6px 9px 6px;
          margin: 0;
        }

        div.collapse
        {
          margin: 0 6px;

          p
          {
            margin: 10% 0 0 10%;
            font-size: .7em;
          }

          span
          {
            font-size: 0.7em;
          }
        } /* end of div#results div div.collapse */
      } /* end of div#results div */
    }
  } /* end of div#results  */


/* from under.scss */
  img#logo
  {
    width: 75px;
    top: 8px;
    left: 4px;
  }

/* from form.scss */

  form
  {
    select
    {
      padding: 5px;
      font-size: .9em;
    }

    input, textarea
    {
      font-size: .9em;
      padding: 6px;
    }

    div.form_row
    {
      padding: 10px 0;
      margin: 0 4%;
      width: 92%;

      &:last-of-type
      {
        padding: 10px 0 0 0;
      }

      p
      {
        font-size: .75em;

        &.error
        {
          padding: 4px 0 6px 6px;

          &:first-of-type
          {
            padding: 8px 0 6px 6px;
          }

        }
      }

      div.input_container
      {
        height: 31px;

        div#form_if_username
        {
          @include inputs;

          padding: 3px 0;

          &.hidden
          {
            margin: -31px 0 0 0;
          }

          /* position the other two guys */
          input[type="checkbox"]
          {
            width: 14%;
            margin-top: 4px;
          }

          label
          {
            font-size: .8em;
            padding-left: 14%;
          }
        }
      }
    } /* what if there was no .form-row? */
  } /* end of form.scss */

  p.button_container
  {
    margin-bottom: 0;
    margin-bottom: 10px;

    input, span
    {
      width: 100%;
      font-size: .95em;

      &.btn
      {
        line-height: 2;
        margin: 1% 4% -2% 4%;
        width: 92%;

        &:active
        {
          margin: 1.5% 3.75% -2.5% 4.25%;
        }

        &.btn--inactive, &.btn--inactive:hover,
        &.btn--inactive:active, &.btn--inactive:focus
        {
          margin: 1.5% 3.75% -2.5% 4.25%;
        }
      }


    }
  }
}

@media only screen and  (max-width: 767px) and (max-height: 350px) and (orientation: landscape) {
/* phones in landscape mode */

/* from under.scss */
  img#logo
  {
    width: 50px;
    top: 8px;
    left: -2.8vw;
  }

/* from quiz.scss */
  section
  {
    section
    {
      &.section__bun
      {
        @include quiz-column(85%);

        &:first-of-type
        {
          margin-top: 4px;
        }

        &:last-of-type
        {

          &.has_results
          {
            width: 85%;

            &.reveal{
              margin-top: 4px;
            }

            p.note
            {
              padding: 5px;
              font-size: .7em;
              margin-bottom: 0px;
            }
          }

        }
      }

      h2
      {
        &.section_title
        {
          font-size: 1.4em;
          text-align: center;
          padding-left: 0px;
          margin-bottom: 0;

          &#quiz_title
          {
            @include quiz-column(85%);
          }
        }
      }
    }
  }

  .btn__navigate
  {
    font-size: 1.2em;
    padding-left: 2.15%;
    padding-right: 2.15%;

    &::before
    {
      margin-right: -0.25em; /* Adjusts for spacing */
    }
  }

  div.prompt
  {
    width: 85%;
    margin: 0 7.5%;
    padding: 0 9px 6px 9px;

    span {
      display: block;
      font-family: merriweather_light;
      font-size: 0.75em;

      &.question
      {
        font-family: merriweather_bold;
        padding: 3px 0 3px 0;
      }

      &.subhead
      {
        margin: 0 0 0 3px;
        font-size: .6em;
      }

      &.answer
      {
        margin: 0 0 0 6px;
        padding: 3px 0px 3px 3px;

        &.onward
        {
          font-size: .8em;
        }
      }
    } /* end of span */
  }

  div#results
  {

    & .grid__item
    {

      div.result
      {

        padding: 9px;

        a
        {
          h3
          {
            font-size: 1.1em;
          }

          h4
          {
            &[class^="category"]
            {
              font-size: .9em;
            }
          }
        }

        .summary
        {
          font-size: .7em;
          padding: 6px 6px 9px 6px;
          margin: 0;
        }

        div.collapse
        {
          margin: 0 6px;

          p
          {
            margin: 10% 0 0 10%;
            font-size: .75em;
          }

          span
          {
            font-size: 0.7em;
          }
        } /* end of div#results div div.collapse */
      } /* end of div#results div */
    }
  } /* end of div#results  */



/* end of quiz.scss */

/* from form.scss */

  form
  {
    select
    {
      padding: 5px;
      font-size: .9em;
    }

    input, textarea
    {
      font-size: .9em;
      padding: 6px;
    }

    div.form_row
    {
      padding: 10px 0 0 0;
      margin: 0 4%;
      width: 92%;

      &:last-of-type
      {
        padding: 10px 0 0 0;
      }

      p
      {
        font-size: .65em;

        &.error
        {
          padding: 0px 0 2px 6px;

          &:first-of-type
          {
            padding: 4px 0 2px 6px;
          }

        }
      }

      div.input_container
      {
        height: 31px;

        div#form_if_username
        {
          @include inputs;

          padding: 3px 0;

          &.hidden
          {
            margin: -31px 0 0 0;
          }

          /* position the other two guys */
          input[type="checkbox"]
          {
            width: 7%;
            margin-top: 4px;
          }

          label
          {
            font-size: .8em;
            padding-left: 7%;
          }
        }
      }
    } /* what if there was no .form-row? */
  }

  p.button_container
  {
    margin-bottom: 5px;

    input, span
    {
      width: 100%;
      font-size: .95em;

      &.btn
      {
        line-height: 2;
        margin: -5% 4% -2% 4%;
        width: 92%;

        &:active
        {
          margin: -4.5% 3.75% -2.5% 4.25%;
        }

        &.btn--inactive, &.btn--inactive:hover,
        &.btn--inactive:active, &.btn--inactive:focus
        {
          margin: -4.5% 3.75% -2.5% 4.25%;
        }
      }


    }
  }

/* end of form.scss */


}
