@mixin quiz-column($width: 50%)
{
  width: $width;
  margin: 0 auto;
}

/* VARIABLES */

$coffee : orange;
$tea : dodgerblue;

/* GENERAL USE CLASSES */

/* this is applied to all of the answers selected, so a path can be traced */
.path
{
  font-style: italic;
  border-left: 4px solid green;
}

/*  Styling applied to spans appended to skipped questions */
.skipped
{
  display: none;
}

/* DOM classes */

.hidden
{
  display: none;
}

html, div#master
{
  position: relative;
  z-index: -1;
  min-height: 100%;
  font-family: Georgia, serif;
  /*font-family: lobster, georgia, helvetica, sans-serif;*/
  padding: 0;
  margin: 0;
  @include safe-transition(1s, linear, height);
  @include safe-transition(1s, linear, overflow);
  height: 100%;

  body
  {
    @extend html;
    overflow: visible;
    background: #666;

    /*&.push_down
    {
      overflow-y: hidden;
    }*/
  }
}

/*gonna need some overflow container thing */

/*
div.progress
{
  position: relative;
  width: 100%;
  height: 12px;

  & *
  {
    height: 100%;

    &
    */
#progress__trough
{
  height: $progress_bar_height;
  position: relative;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: rgba(192, 192, 192, 0.5);


  & #progress__bar
  {
    content:'';
    background: #EF455C;

    @include gradient_background();

    position:absolute;
    left:0;
    top:0;
    height: 100%;
    width: 0%;
    @include safe-transition(.8s, cubic-bezier(.23,.96,.53,.94), width);

    &.approved
    {
      @include approval(2.4s, ease-in, background);
    }
  }
}
/*}*/

#title
{
  color: indianred;
  display: block;
  text-align: center;
  font-size: 300%;
  font-family: "Georgia";
}

div#wrapper
{
  cursor: default;
  min-height: 100%;
  top: 0%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: relative;
  @include safe-transition(.4s, cubic-bezier(.37,.15,.34,.98), top);

  &.push_down
  {
    /*top: 94%; */
    cursor: pointer;
  }
}

section
{
  position: relative;

  section
  {
    overflow: hidden;
    @include safe-transition(.6s, ease-out);

    &:first-of-type
    {
      border: 1px solid #c9c9c9;
    }

    &.fold
    {

      &:first-of-type
      {
        border: none;
        border-bottom: 1px solid #c9c9c9;
      }

      h2.section_title
      {
        color: #777;
        margin-bottom: -3px;

        &:hover
        {
          color: seagreen;
          cursor: pointer;
          background: rgba(196,196,196, 0.9);
        }

        &#quiz_title
        {
          margin-bottom: -3px;
        }
      }

      &.empty
      {
        h2.section_title
        {

          &:hover
          {
            color: #999;
            cursor: default;
            background: rgba(255,255,255, 0.15);
          }
        }
      }

    }

    h2
    {
      color: black;

      &.section_title
      {
        font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
        font-variant: small-caps;
        /*font-family: lobster2;*/


        font-weight: normal;
        color: #2e2e2e;
        @include safe-transition(.2s, ease-out, background);
        padding-left: 8px;

        @include safe-background(255, 255, 255, 0.75);


        &#quiz_title
        {
          @include quiz-column;
        }
      }
    }

    hr.col_bottom
    {
      padding: 0;
      margin: 0;
    }
  }
}

.section__bun
{
  @include quiz-column;

  &:first-of-type
  {
    margin-top: 40px;

    @include safe-background(224, 224, 224, .1);
  }

  &.status
  {
    @include safe-background(224, 224, 224, .75);
  }

  &:last-of-type
  {
    border-top: 1px solid #ccc;

    &.has_results
    {
      width: 95%;
      background: #f5f5f5;
      margin-top: 200%;

      @include safe-transition(1s, cubic-bezier(.37,.15,.34,.98), margin);

      &.reveal
      {
        margin-top: 9.5%;
      }

      h2.section_title
      {
        color: #f5f5f5;
        background: #554295;
        margin: 0;
      }

      p.note
      {
        padding: 10px;
        background: #eeeeee;
        color: sandybrown;
        font-size: .9em;
        font-family: ptsans_regular;
      }
    }

  }
}

.section__burger
{
  overflow: hidden;
  border-bottom: none;
}

.questions
{
  min-width: 300%;
  float: left;
  margin: 0 0 0 -100%;
  z-index: 10;

  .grid__item
  {
    padding-left: 0px;
    position: relative;
  }
}

.btn__navigate
{
  position: absolute;
  font-size: 1.4em;
  color: #2e2e2e;
  z-index: 100;
  min-height:3em;
  height: 100%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  left: 0;

  @include safe-background(255, 255, 255, 0.25);
  @include safe-transition(0.2s);
  @include safe-user-select();

  &::before
  {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }

  &:hover
  {
    color: lightcoral;
    border-right-color: lightcoral;
    @include safe-background(255, 255, 255, 0.75);
  }

  &:active
  {
    background: #dddddd;
  }

  &.btn--right
  {
    right: 0px;
    left: auto;
    border-right: none;
    border-radius: 4px 0 0 4px;

    &:hover
    {
      color: mediumseagreen;
      border-left-color: mediumseagreen;
    }
  }

  &.disabled
  {
    color: white;
    @include safe-background(255, 255, 255, 0.05);

    /*border: 1px dashed #eee;*/
    cursor: default;

    &:hover
    {
      color: #eee;
      @include safe-background(255, 255, 255, 0.50);
    }
  }
}

div.prompt
{
  left: 0%;
  position: absolute;
  visibility: hidden;
  transition: .55s;
  top: 0;
  width: 50%;
  margin: 0 25%;
  padding: 10px;
  @include safe-background(255, 255, 255, 0.75);
  @include safe-user-select();


  &.selected
  {
    visibility: visible;
    position: relative;
    left: -100%;
    top: 0;

    span.answer:hover
    {
      background-color: #008000;
      color: #eee;
      cursor: pointer;
    }

    span.answer:active
    {
      background-color: darkgreen;
    }
  }

  &.passed_over
  {
    left: -200%;
    top: 0;
  }

  span {
    display: block;
    font-family: merriweather_light;

    &.question
    {
      font-family: merriweather_bold;
      padding: 5px 0 7px 0;
    }

    &.subhead
    {
      color: lightslategray;
      padding: 0;
      margin: 0 0 0 8px;
      font-size: .9em;
    }

    &.answer
    {
      margin: 0 0 0 10px;
      padding: 5px 3px;
      background-color : transparent;
      color: #000;
      cursor: default;

      &.onward
      {
        font-size: 1.1em;
      }

    }

  }
}

.button {
  float: left;
  width: 46%;
  margin: 15px 0px 0px 15px;
  border: grey 1px solid;
  text-align: center;
  font-size: 1.4em;
  cursor: pointer;
  transition: color .1s ease-out, border-color .1s ease-out;

  &:hover
  {
    border-left-width: 10px;
    border-right-width: 10px;
    background: #fafafa;
  }

  &.orange:hover
  {
    border-color: #D57014;
    color: #D57014;
  }

  &.blue:hover
  {
    border-color: #155591;
    color: #155591;
  }
}

div#results
{
  display: inline-block;
  width: 100%;
  background: #f5f5f5;

  &.no_border
  {
    border: none;
  }

  div.grid
  {
    margin: 0;
  }

  & .grid__item
  {
    padding: 0;

    &:first-of-type
    {
      border-right: #c9c9c9 solid 1px;
    }

    &:last-of-type
    {
      border-left: #c9c9c9 solid 1px;
    }

    div.result
    {
      margin: 0;
      position: relative;
      overflow: hidden;
      background: #f5f5f5;
      color: black;
      vertical-align: top;
      display: inline-block;
      border-bottom: #c9c9c9 solid 1px;
      padding: 15px;

      &:hover
      {
        background: #eee;
      }

      /*
      &.category_165
      {
        border: 1px $coffee solid;
      }

      &.category_159
      {
        border: 1px $tea solid;
      }

      &.category_156
      {
        border: 1px forestgreen solid;
      }
      */

      a
      {
        text-decoration: none;

        @include safe-transition(.1s, ease-in, background);
        font-family: droidsans_regular;

        h3, h4
        {
          font-weight: normal;

          &:hover
          {
            background: #ddd;
            opacity: .9;
          }
        }

        h3
        {
          margin: 0;
          color: seagreen;
        }

        h4
        {
          cursor: pointer;
          margin: 0;
          color: grey;
          padding: 4px 0;

          &[class^="category"]
          {
            font-size: 1.05em;
          }
        }
      }

      .summary
      {
        font-family: merriweather_light;
        font-size: .85em;
        padding: 8px 8px 12px 8px;
        margin: 0;
      }

      div.collapse
      {
        margin: 0 8px;
        font-family: ptsans_regular;

        @include safe-user-select();

        p
        {
          margin: 10% 0 0 10%;
          font-size: .8em;
          color: #434343;

        }

        span
        {
          text-align: center;
          font-size: 0.9em;
          float: left;
          border-top: 1px solid #c9c9c9;
          border-bottom: 1px solid #c9c9c9;

          &.feedback
          {
            width: 100%;
            color: forestgreen;
            cursor: default;
          }


          &.helpful, &.not_helpful
          {
            width: 50%;
            transition: .3s;

            &:hover.helpful
            {
              background: #e2e2e2;
              color: mediumseagreen;
              cursor: pointer;
            }

            &:hover.not_helpful
            {
              background: #e2e2e2;
              color: salmon;
              cursor: pointer;
            }
          }
        }
      } /* end of div#results div div.collapse */
    } /* end of div#results div */
  }
} /* end of div#results  */

.section--dev
{
  @include sexy-border(blue);
}

.questions--dev
{
  padding: 0;
  margin: 0;
  @include sexy-border(orange);

  .middle_column
  {
    margin: 0;
    width: 100%;
    height: 250px;

    div.prompt
    {
      position: absolute;
      visibility: visible;
      transition: 1.2s
    }
  }
}
