div.status
{
  padding: 0 16px;

  a
  {
    text-decoration: none;
    color: #554295;

    &:hover
    {
      opacity: .85;
    }
  }

  div.left
  {
    float: left;
    width: 75%;

    span#clubname
    {
      font-weight: bold;
      /*font-family: lobster2_bold;*/
    }
  }

  img
  {
    float: right;
    width: 18%;
    height: auto;
    padding: 4px;
    margin-top: -10px;

    &:hover
    {
      opacity: .85;
    }
  }
}