/* check _vars.scss for the variables used */

div#bg, div#under
{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: -1;
}

div#under{
  height: 95%;
  display: none;
  position:relative;
  background: #554295;
  z-index: -2;
  color: whitesmoke;

  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-variant: small-caps;
  /*font-family: lobster2;*/
  padding-top: $logo_width + ( $logo_margin * 2);

  * {
    margin: 0;
    padding-left: 2%;
  }

  div#sneaky_menu
  {
    max-width: 80%;
    display: inline-block;

    h2
    {
      font-size: 2.6em;
      color:#615A9C;
      cursor: default;
    }

    ul{

      li
      {

        a
        {
          padding: 0 .3em;
          color: white;
          text-decoration: none;
          font-size: 2em;
          border-bottom: 1px dotted #615A9C;
          @include safe-transition(.2s, ease-out, background);

          &:first-of-type
          {
            border-top: 1px solid #615A9C;
          }

          &:hover
          {
            /* border-bottom: 1px dotted white;*/
            background: #615A9C;
          }
        }
      }
    }

  }

  div.sneaky_content
  {
    color: white;
    /*opacity: 0;*/
    padding-top: $logo_margin * 2;
    cursor: default;
    display: none;

    h2
    {
      font-size: 2.2rem;
      border-bottom: #615A9C solid 1px;
    }

    a
    {
      color: sandybrown;
      text-decoration: none;
      padding: 0;

      &:hover
      {
        opacity: .85;
      }
    }

    p
    {
      font-variant: normal;
      padding: .2em

      em
      {
        padding: 0;
        margin: 0;
      }

    }
  }
}

img#logo
{
  width: $logo_width;
  height: auto;
  position: absolute;
  top: $logo_margin*2;
  left: $logo_margin;
  cursor: pointer;
  z-index: 100;

  &:hover
  {
    opacity: .85;
  }
}

div#bg
{
  position: absolute;

  top: 0;
  left: 0;
  /* opacity: .3; */

  @include safe-transition(.55s, cubic-bezier(.37,.15,.45,.98), background-position);
}

