@mixin safe-transition($time, $easing: ease-out, $property: all)
{
  -webkit-transition: $property $time $easing;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: $property $time $easing;  /* Firefox 4-15 */
  -o-transition: $property $time $easing;  /* Opera 10.50–12.00 */
  transition: $property $time $easing;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

@mixin safe-background($r, $g, $b, $opacity: 1)
{
  background: rgb($r, $g, $b); /* default fallback */
  background: rgba($r, $g, $b, $opacity); /* nice browsers */
}

@mixin safe-color($r, $g, $b, $opacity: 1)
{
  color: rgb($r, $g, $b); /* default fallback */
  color: rgba($r, $g, $b, $opacity); /* nice browsers */
}

@mixin safe-user-select($select: none)
{
  -webkit-touch-callout: $select;
  -webkit-user-select: $select;
  -khtml-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

@mixin sexy-border($color, $width: 1px) {
  border: {
    color: $color;
    width: $width;
    style: dashed;
  }
}

@mixin approval($time: 1.2s, $easing: ease-out, $property: background, $background: darkseagreen)
{
  @include safe-transition($time, $easing, $property);
  background: $background;
  color: white;
}

@mixin gradient_background($colour_left: #CC5555, $colour_mid: #ED6363, $colour_end: #CC5555)
{
/* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(left, $colour_left 0%, $colour_mid 94%, $colour_end 110%);
/* Mozilla Firefox */
  background-image: -moz-linear-gradient(left, $colour_left 0%, $colour_mid 94%, $colour_end 110%);
/* Opera */
  background-image: -o-linear-gradient(left, $colour_left 0%, $colour_mid 94%, $colour_end 110%);
/* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, $colour_left), color-stop(0.94, $colour_mid), color-stop(1.10, $colour_end));
/* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(left, $colour_left 0%, $colour_mid 94%, $colour_end 110%);
/* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to right, $colour_left 0%, $colour_mid 94%, $colour_end 110%);
}

.hidden
{
  display: none;
}